.backgroundTopNavBar{
    background-color       : #F7F7F7;
    width                  : 100%;
    height                 : 55px;
    padding-right          : 10px;
    position               : fixed;
    top                    : 0;
    z-index                : 2;
    box-shadow             : rgb(0 0 0 / 25%) 0 0 15px;
}
.top-nav-bar-elements {
    justify-content: flex-end;
    height: 55px;
}
    .top-nav-bar-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
img.iconSolaireTopNavBar{
    width                  : auto;
    position               : relative;
    cursor                 : pointer;
    margin-right           : 10px;
}
.imgTopNavBar{
    width                  : 150px;
    position               : absolute;
    margin                 : 10px;
}
.positionButtonConnexionInscription{
    display                : flex;
    justify-content        : flex-end;
    align-items            : center;
    height                 : inherit;
}

.leftNavBar-bouton{
    margin                 : 0;
    padding                : 5px 20px;
    color                  : #707070;
    background             : transparent;
    font-weight            : 500;
    transition             : all 0.3s ease;
    border                 : none;
    font-size              : 18px;
    outline                : none;
}
    .leftNavBar-bouton:hover{
        border-radius      : 50px;
        background-color   : #FFE2ED;
        color              : #E04980;
    }
.parentButtonPositionInscriptionTopNavBar{
    margin-right           : 25px;
}
    .buttonInscription {
        width: 100%;
        margin: 0;
        padding: .375rem .75rem;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 50px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #fff;
        background: linear-gradient(129deg, rgba(224,73,128,1) 0%, rgb(224 73 128 / 58%) 55%, rgb(1 96 130 / 50%) 89%);
        outline: none;
    }
        .buttonInscription:hover {
        background-position: right center; /* change the direction of the change here */
        color              : #fff;
        text-decoration    : none;
        background         : linear-gradient(129deg, rgb(2 152 207 / 65%) 0%,
                                            rgb(224 73 128 / 47%) 55%,
                                            rgb(224 73 128 / 65%) 89%);
        }


        .modal-footer{
            justify-content: center !important;
        }
        .activeContent.buttonInscription{
            width          : auto;
            cursor         : pointer;
        }

.interrogationPointTopBar{
    color                  : #001922;
    margin                 : 0;
    font-size              : 20px;
    cursor                 : pointer;
}
.sessionActuelle img{
    width                  : 100%;
    max-width              : 45px
}
.modal-content {
    background-color       : #FFF7FA !important;
    color                  : #fff ;
}

.content{
    display                : none;
}
.activeContent{
    display                : flex;
    padding                : 6px 12px;
}
    .activeContent .form-label{
        font-weight        : bold;
        color              : #707070;
    }
    .activeContent .form-control{
        background-color   : #FFE8F0;
    }
    .activeContent .form-text {
        color              : #E04980;
    }
.activeText{
    color                  : #E04980 ;
    font-weight            : bold;
    border-bottom          : 2px solid #E04980;
    cursor                 : pointer;
}
.activeText:hover{
    text-decoration        : none;
    color                  : #E04980;
}
.positionBoutonInscriptionConnexion{
    margin                 : 0;
    padding                : 0;
}

.btnTopNavBarInsCon{
    cursor                 : pointer;
    color                  : #707070;
}
.btnTopNavBarInsCon:hover{
    text-decoration        : none;
    color                  : #3FCCFF;
}
.btnTab{
    border                 : none ;
    color                  : #fff;
    background-color       : #001922;
}
.btnModal{
    text-align: center;
    background-color: #004158 ;
    color : #3FCCFF;
    margin: 12px;
    margin-right: 25px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.modal-header{
    flex-direction         : column;
    padding                : 1rem 1rem 0 1rem !important;
}
    .modal-header .close{
        position           : absolute;
        top                : 0;
        right              : 0;
        color              : #E04980;
    }
    .modal-header .close:hover{
        color              : #E04980;
        text-shadow        : none;
    }
    .modal-title{
        text-align         : center;
    }
.logoModal {
    width                  : 13% ;
}
.centerTitle {
    width                  : 100%;
    justify-content        : center;
    color                  : #707070;
}
.fullWidthForm {
    width                  : 100%;
}
.text-privacy-conditions{
    text-align             : center;
    font-size              : 12px;
    color                  : #707070;
}
    .text-privacy-conditions > a {
        margin             : 0 5px;
        font-weight        : bold;
        color              : #E04980 !important;
    }