/***********Spinner*************/
.loading-spinner-relative {
    position: relative;
    margin: 30vh 0;
    inset: 0;
    z-index: 2;
}
.loading-spinner-absolute {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.parent-loader{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #ffffffbf;
}
    #parentLoadingData.isFetching {
        align-items: flex-end;
    }
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  font-size: 15px;
  border-top: 8px solid #e04b81;
  border-right: 8px solid rgba(255,255,255,0.2);
  border-bottom: 8px solid rgba(255,255,255,0.2);
  border-left: 8px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader-picture{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
    .loader-picture > img {
        width: 30%;
    }
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}