main {
    position: relative;
}

.sectionFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 230px;
    clear: both;
    text-align: center;
    position: relative;
    bottom: 0px;
    margin-left: 230px;
    background: linear-gradient(-45deg, #ee7752, #e04980a3, #00b0f0c2, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
}

.sectionFooterAjust {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 230px;
    clear: both;
    text-align: center;
    position: relative;
    bottom: 0px;
    margin-left: 0;
    background: linear-gradient(-45deg, #ee7752, #e04980a3, #00b0f0c2, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* ****************** TEXT FOOTER ******************** */
.bottom-footer-text {
    margin: 0;
    color: #fff;
}
.bottom-footer-text.bold {
    font-weight: bolder;
}
.bottom-footer-text.upper {
    text-transform: uppercase;
}
.bottom-footer-text.font15 {
    font-size: 1.5rem;
}
.bottom-footer-text.colorBlack {
    color : #000
}
.bottom-footer-text.underline {
    text-decoration: underline;
}

/* ****************** TOP BOTTOM FOOTER ******************** */
.parent-top-bottom-footer {
    display: grid;
    row-gap: 2rem;
    padding: 2rem 0 1rem;
}

/* ****************** TOP FOOTER ******************** */
.parent-top-footer {
    display: flex;
}
.parent-top-footer
    .contact-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        row-gap: 1rem;
    }
.parent-top-footer
    .contact-footer
        .contact-footer-text {
            display: flex;
            flex-direction: column;
        }
.parent-top-footer
    .contact-footer
        .button-contact-footer {
            padding: 5px 20px;
            text-transform: uppercase;
            font-size: 18px;
            color: #e04980;
            border: 3px solid #e04980b0;
            border-radius: 50px;
            background: #ffffffcf;
        }
.parent-top-footer
    .contact-footer
        .button-contact-footer:hover {
            background-color: #E04980;
            color: #fff;
        }
.parent-top-footer
    .contact-footer
        .button-contact-footer:active {
            background-color: #fff;
            color: #E04980;
            border: 1px solid #fff;
        }
.parent-top-footer
    .contact-footer
        .button-contact-footer:focus {
            outline: none !important;
        }



.logos-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logos-footer
    .logos-footer-images {
        display: flex;
        justify-content: space-evenly;
    }
.logos-footer
    .logos-footer-images
        img {
            height: 60%;
            background: #ffffff40;
        }

/* ****************** BOTTOM FOOTER ******************** */
.parent-bottom-footer {
    display: flex;
    flex-wrap: wrap;
}

.parent-bottom-footer
    .bottom-footer-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
.parent-bottom-footer
    .bottom-footer-logo
        .bottom-footer-logo-ressource-relationnelle {
            width: 70%;
        }

.parent-bottom-footer
    .bottom-footer-routes
        .bottom-footer-routes-list {
            list-style: none;
            margin: 0;
            padding: 0;
            column-count: 2;
            cursor: pointer;
        }

.parent-bottom-footer
    .bottom-footer-routes
        .bottom-footer-routes-list > li > a.nav-link {
            padding: 5px !important;
        }
.parent-bottom-footer
    .bottom-footer-routes
        .bottom-footer-routes-list > li > a > label{
            margin: 0;
            padding: 5px 20px;
            color: white;
            text-transform: uppercase;
            cursor: pointer;
        }
.parent-bottom-footer
    .bottom-footer-routes
        .bottom-footer-routes-list > li > a > label:hover{
            border-radius: 50px;
            background-color: #fff;
            color: #E04980;
        }


.parent-bottom-footer
    .bottom-footer-social {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
.parent-bottom-footer
    .bottom-footer-social
        .bottom-footer-social-icons {
            display: flex;
            justify-content: space-evenly;

        }
.parent-bottom-footer
    .bottom-footer-social
        .bottom-footer-social-icons svg {
            width: 40px;
            font-size: 25px;
            color: #fff;
        }

.parent-bottom-footer
    .bottom-footer-social
        .bottom-footer-social-question {
            display: flex;
            flex-direction: column;
        }