.encadrementPostResources {
   margin-top     : 40px;
   margin-bottom  : 40px;;
   box-shadow     : 1px 5px 5px rgba(10, 10, 0, .2);
   border-radius  : 10px;
   width          : 100%; min-width : 1450px;
   height         : 100%; max-height: 550px;
   padding        : 20px;
   flex-wrap      : inherit;
}
.encadrementPostResources .display-ressources-list {
   justify-content: left;
}
.contentPostResources {
   display        : flex;
   flex-direction : row;
   align-items    : center;
}