.encadrementGallery {
     margin         : 40px 0 0 0px;
     box-shadow     : 1px 5px 5px rgba(10, 10, 0, .2);
     border-radius  : 10px;
     width          : 100%; min-width : 710px;
     height         : 100%; min-height: 550px;
     padding        : 20px;
}
.encadrementGallery .display-ressources-list {
     justify-content: left;
     text-align: center;
}

.encadrementGallery .display-ressources-list > a {
     margin-bottom  : 50px;
}

.encadrementImgGallery div {
     display        : flex;
     flex-direction : column;
     margin         : 0px 10px;
     height         : calc(100% + 30px);
     border         : solid 3px #E04980;
}