/*#region MYACCOUNT*/
.componentMyAccount {
  display         : flex;
  width           : 100%;
  height          : 100%; min-height: 877px;
  background-color: #E04980;
}
  .componentMyAccount h1 {
    margin-top    : -40px;
    color         : #858585;
  }
.divLeftNavBarMyAccount {
  display         : flex;
  z-index         : 0;
}
.divLeftNavBarMyAccount > div > div > span {
  color           : white;
  font-weight     : 500;
  margin-left     : 10px;
}
.divLeftNavBarMyAccount > div > div > img {
  width           : 70px;
  margin          : 5px;
}
.divLeftNavBarMyAccount > div > div > .metierUser {
  font-style      : italic;
  color           : white;
  margin-left     : 3px;
}
  .divLeftNavBarMyAccount > img {
    position      : absolute;
    right         : 0;
    width         : 78%;
    height        : 100%; min-height: 500px;
  }
/*#endregion MYACCOUNT*/