#search-bar .search__input {
    width: 100%;
    padding: 5px 20px;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
    #search-bar .search__input::placeholder {
        color: #575756;
    }
    #search-bar  .search__input:hover,
    #search-bar  .search__input:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }
    #search-bar > i {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 19px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        background-color: #E04980;
        border-radius: 25px;
        width: 25px;
        height: 25px;
    }