/* *************************  SOCIAL CONTENT ******************************** */
.social-content-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
    ul.social-content-icons-list {
        display: flex;
        flex-direction: row;
        margin: 0;
        list-style: none;
        padding-inline-start: 10px;
    }
        ul.social-content-icons-list > li {
            margin: 0.4rem;
            color: #00b0f0;
        }
            ul.social-content-icons-list > li:hover {
                color: #e04980;
            }

/* *************************  MEDIA CONTENT ******************************** */
.media-content-ressource > h1 {
    text-align: center;
    color: #707070 !important;
}
.media-content-ressource > .media-content-image {
    display: flex;
    justify-content: center;
    margin: 4rem;
}
.media-content-ressource > article {
    text-align: justify;
    color: #707070 !important;
}

/* *************************  RESSOURCE ICON BAR ******************************** */
ul.display-ressource-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    border-top: 1px solid #e04980;
    border-bottom: 1px solid #e04980;
}
    ul.display-ressource-icons > li {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.5rem;
        margin: 1rem;
        color: #e04980;
    }


/* ************************* INFO CONTENT ******************************** */
.display-ressource-small-content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.info-content-user {
    display: flex;
    margin: 1rem 0;
}
    .info-content-user-name-job {
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
    }
        .info-content-user-name-job > small {
            font-style: italic;
        }

/* ************************* DISPLAY RESSOURCE ******************************** */
.info-content-separation {
    border-color: #e04980;
    border-width: 4px;
}