.encadrementPreviewFavoris {
   margin         : 40px 0 0 0px;
   box-shadow     : 1px 5px 5px rgba(10, 10, 0, .2);
   border-radius  : 10px;
   width          : 100%; min-width : 710px;
   height         : 100%; max-height: 550px;
   padding        : 20px;
}

.encadrementFavoris .display-ressources-list {
   flex-wrap      : inherit;
   justify-content: left;
}
.contentPreviewFavoris {
   display        : flex;
   flex-direction : row;
   align-items    : center;
}
.contentPreviewFavoris .favoriteIcon {
   position       : absolute;
   width          : 40px;
   z-index        : 1;
   margin-left    : 254px;
   margin-top     : -478px;
}