.content-wizard
    .title-add-ressource{
        color: #000;
    }

.content-wizard
    article {
        color: #707070;
    }

.content-wizard
    .divided-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .content-wizard
        .divided-content
            .title-left-content {
                font-size: 20px;
            }


.ressource-content-hide {
    display: none;
}

/* ***************************** BADGES ***************************** */
.badge-wizard-data {
    padding: 0 1rem;
    margin-right: 10px;
    text-align: center;
    border-radius: 15px;
    border:2px solid;
}
    .badge-wizard-data.category {
        color: #fff;
        background-color: #e04980;
        border-color: #e04980;
    }
        .badge-wizard-data.category:hover,
        .badge-wizard-data.category:focus {
            color: #e04980;
            background-color: #fff;
        }
    .badge-wizard-data.relation {
        color: #e04980;
        background-color: #fff;
        border-color: #e04980;
    }
        .badge-wizard-data.relation:hover {
            color: #fff;
            background-color: #e04980;
        }
    .badge-wizard-data.ressource {
        color: #00b0f0;
        background-color: #fff;
        border-color: #00b0f0;
    }
        .badge-wizard-data.ressource:hover {
            color: #fff;
            background-color: #00b0f0;
        }

/* ******************************STEP 3****************************** */
.content-wizard
    .parent-category-badge-ressource {
    display: flex;
    flex-wrap: wrap;
    }
    .content-wizard
        .parent-category-badge-ressource
            .children-category-badge-ressource > label{
                cursor: pointer;
            }
    .content-wizard
        .parent-category-badge-ressource
            .children-category-badge-ressource > input{
                display: none;
            }

/* ******************************STEP 6****************************** */
#step6
    .add-image-ressources {
        display: flex;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 300px;
        height: 300px;
        border: 1px solid #e04980;
        background: #fff;
    }
    #step6
        .add-image-ressources
            .add-image-ressources-icons {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                font-size: 6rem;
                color: #e04980;
            }
            #step6
                .add-image-ressources
                    .add-image-ressources-icons > i.add-image-ressources-icons-plus {
                        position: absolute;
                        font-size: 3rem;
                        background: #fff;
                        transform: translate(85%, 65%);
                        width: 50px;
                        text-align: center;
                        height: 50px;
                    }
            #step6
                .add-image-ressources
                    .add-image-ressources-icons > img.add-image-ressources-url {
                        position: absolute;

                    }


/* ******************************STEP 7****************************** */
textarea.notes {
    resize: none !important;
    overflow: auto !important;
    outline: none;
    box-shadow: none !important;
    border-color: #ced4da !important;
}
  textarea.notes {
    width: 100%;
    height: 342px;
    line-height: 31px;
    background-image: -webkit-linear-gradient(left, white 0, transparent 0), -webkit-linear-gradient(right, white 0, transparent 0), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-repeat: repeat-y;
    background-size: 100% 100%, 100% 100%, 100% 31px;
    background-attachment: local;
  }
  textarea.notes:hover {
    resize: none !important;
    overflow: auto !important;
    outline: none;
    box-shadow: none !important;
    border-color: #ced4da !important;
  }

.parent-last-step {
    display: flex;
    flex-direction: column;
    height: 90%;
}
    .parent-last-step
        .img-last-step {
            display: block;
            margin: auto;
            margin-left: 2rem;
            width: fit-content;
        }
    .parent-last-step
        .parent-button-last-step {
            display: flex;
            justify-content: center;
        }
        .parent-last-step
            .parent-button-last-step:hover {
                text-decoration: none;
            }
            .parent-last-step
                .parent-button-last-step
                    .button-last-step {
                        margin: 0;
                        padding: 10px 20px;
                        border: none;
                        font-weight: bold;
                        font-size: 1rem;
                        line-height: 1.5;
                        border-radius: 50px;
                        color: #fff;
                        background: #e04980;
                        outline: none;
                    }
                    .parent-last-step
                        .parent-button-last-step
                            .button-last-step:hover {
                                background: #00b0f0;
                            }