/*****************Générique*****************/
.btn-wizard {
    position: relative;
    bottom: 10px;
    margin: 10px;
    padding: 0 25px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
}

.hiding-card-add-ressource-introduction {
    display: none;
}

/*****************Spécifique*****************/
.display-wizard {
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 90% 10%;
    padding: 5px 5px 5px 0 !important;
    width: 1300px;
    min-height: 600px;
    background: linear-gradient(179deg, #007dabd9 0%, #e66c99 50%);
}
.display-wizard
    .steps-wizard {
        display: block;
        position: absolute;
        right: 2rem;
        color: #e04980;
        z-index: 1;
        font-weight: bolder;
        font-size: 1.3rem;
        top: 1rem;
    }

.display-wizard
    .navigation-wizard {
        display: flex;
        flex-direction: column;
    }
    .display-wizard
        .navigation-wizard
            .logo-wizard {
                display: block;
                margin: auto;
                padding: 10px;
                width: 100px;
                filter: contrast(59%) brightness(150%);
            }
    .display-wizard
        .navigation-wizard
            .nav-btn-wizard {
                border: none;
                background: transparent;
                color: #fff;
                cursor: not-allowed;
            }
            .display-wizard
                .navigation-wizard
                    .nav-btn-wizard.active {
                        background: #ffffff4a;
                    }

.display-wizard
    .content-wizard {
        background: #fff;
    }
    .display-wizard
        .content-wizard.card-ressource-wizard {
            position: absolute;
            right: 0;
            margin: 50px;
        }

.display-wizard
    .button-wizard-prev-next {
        display: flex;
        justify-content: space-between;
        grid-column-start: 2;
        background: #fff;
    }
    .display-wizard
        .button-wizard-prev-next
            .btn-wizard-prev {
                left: 10px;
                background: #fff;
                color: #a7a7a7;
            }
            .display-wizard
                .button-wizard-prev-next
                    .btn-wizard-prev:hover {
                        background: #dde9fb;
                        box-shadow: 0 2px 6px #0000001c;
                        color: #9c9c9c;
                    }
    .display-wizard
        .button-wizard-prev-next
            .btn-wizard-next {
                right: 10px;
                background: #e04980;
                color: #fff;
            }
            .display-wizard
                .button-wizard-prev-next
                    .btn-wizard-next:hover {
                        background: #00b0f0;
                        box-shadow: 0 2px 6px #0000001c;
                    }