.encadrementPreview {
   font-weight       : 500;
   margin            : 40px 20px 0 10px;
   box-shadow        : 1px 5px 5px rgba(10, 10, 0, .2);
   border-radius     : 10px;
   width             : 100%; min-width: 700px; max-width: 700px;
   height            : 100%; max-height: 550px;
   padding           : 20px;
}
   .encadrementPreview div {
      padding-bottom : 10px;
      margin         : auto;
      text-align     : justify;
   }
   .encadrementPreview .premièresInfos {
      display        : flex;
      justify-content: space-between;
   }
   .encadrementPreview .btnEncadrement,
   .encadrementPostResources .btnEncadrement,
   .encadrementFavoris .btnEncadrement {
      text-align     : end;
   }
   .encadrementPreview .mesReseauxSociaux img {
      margin-right   : 5px;
   }