#ContactForm
    .contact-list {
        display: flex;
        list-style: none;
        width: 100%;
    }
    #ContactForm
        .contact-list
            li {
                display: block;
                margin: auto;
                text-align: center;
                list-style: none;
            }
            #ContactForm
                .contact-list
                    li
                        i {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: auto;
                            padding: 2rem;
                            width: 2rem;
                            height: 2rem;
                            font-size: 1.4rem;
                            border: 1px solid #00b0f0;
                            border-radius: 50px;
                            background: #00b0f0;
                            color: #fff;
                        }
            #ContactForm
                .contact-list
                    li
                        span {
                            display: block;
                            margin: 1rem 0;
                            height: 50px;
                        }

#ContactForm {
    padding-bottom: 2rem;
}
#ContactForm
    .contact-form-data
        label {
            text-transform: uppercase;
            font-weight: bold;
        }
        #ContactForm
            .contact-form-data
                input {
                    border: none;
                    border-bottom: 1px solid #e04980;
                }
                #ContactForm
                    .contact-form-data
                        input:focus {
                            box-shadow: none;
                        }
        #ContactForm
            .contact-form-data
                button {
                    float: right;
                    margin: 0;
                    padding: 5px 20px;
                    color: #fff;
                    background: #00b0f0;
                    border-radius: 50px;
                    border: none;
                    font-weight: 500;
                    font-size: 18px;
                    outline: none;
                    transition: all 0.3s ease;
                    box-shadow: none;
                }
                #ContactForm
                    .contact-form-data
                        button:hover {
                            background-color: #E04980;
                        }

#ContactForm
    .contact-form-image {
        display: flex;
        align-items: center;
    }
    #ContactForm
        .contact-form-image
            img {
                width: inherit;
            }