.encadrementResources {
     margin-top     : 40px;
     margin-bottom  : 40px;;
     box-shadow     : 1px 5px 5px rgba(10, 10, 0, .2);
     border-radius  : 10px;
     width          : 100%; min-width: 1450px;
     height         : 100%;
     padding        : 20px;
     flex-wrap      : inherit;
  }
  .encadrementResources .display-ressources-list {
     justify-content: center;
  }
  .contentResources {
     align-items    : center;
  }