.form-group {
   position: relative;
}
.modal-header .close span{
   margin-right: 5px;
}
.formSignIn input::placeholder {
   color           : var(--c, #6b6b6b);
}

#errorMsg {
   font-family     : 'Roboto medium';
   text-align      : center;
   color           : #ff0000;
   margin-bottom   : 10px;
}

.rouge {
   background-color: var(--error, #ffa7a7) !important;
   border          : solid 2px red !important;
   color           : white !important;
}
 
#passwordHelpBlock {
   position        : absolute;
   width           : 100%;
   max-width       : 94%;
   line-height     : 1;
   font-size       : 1rem;
   background-color: #FFF7FA;
   opacity         : 0;
   transition      : opacity 1s;
   border          : solid #E04980 3px;
   border-radius   : 5px;
   padding         : 10px;
   text-align      : justify;
   z-index         : 1;
   bottom          : 37%;
}

.lookPasswordIcon {
   position        : absolute;
   display         : block;
   right           : 0;
   bottom          : -6px;
}
   .lookPasswordIcon:hover,
   .lookPasswordIcon2:hover {
      cursor          : pointer;
   }

.lookPasswordIcon2 {
   position        : absolute;
   display         : block;
   right           : 0;
   bottom          : 4px;
}

.activeContent .form-group .validateInput {
   border: 3px #00c300 solid !important;
   background-color: #bfffbf !important;
}