html {
  font-size       : 16px;
}

body {
  margin          : 0;
}
main{
  background-color: #ffffff;
  font-family     : 'Roboto';
  font-weight     : 400;
  color           : #707070;
}

section{
  background-color: #ffffff;
  margin-left     : 230px !important;
  margin-top      : 55px !important;
}

code {
  font-family     : source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* **************************************TITLE************************************** */
.titleVisitorSitePresentation{
  font-family     : Roboto;
  font-size       : 4rem;
  color           : #000;
  text-align      : center;
  font-weight     : 900;
}

/* **************************************TITLE************************************** */
.margin-top55{
  margin-top      : 55px;
}
.margin-top100{
  margin-top      : 100px;
}

/* **************************************FONT************************************** */
/* **************FONT-SIZE************** */
.text-size11{
  font-size       : 11px;
}
.text-size12{
  font-size       : 12px;
}
.text-size13{
  font-size       : 15px;
}
.text-size14{
  font-size       : 14px;
}
.text-size15{
  font-size       : 15px;
}

/* **************FONT-WEIGHT************** */
.text-bold{
  font-weight     : bold;
}


/* **************************************OL************************************** */
.parent-position-element-conditions{
  display         : flex;
  flex-direction  : row;
  justify-content : center;
}
  .parent-position-element-conditions p {
    margin        : 0;
  }
  .parent-position-element-conditions div {
    margin-bottom : 15px;
  }
  .parent-position-element-conditions ol > div > li{
      font-weight : bold;
      font-size   : larger;
      color       : #00b0f0;
  }
  .parent-position-element-conditions ol ul.lower-roman-style > li {
      list-style  : lower-roman;
  }
  .parent-position-element-conditions ol ul.lower-latin-style > li {
      list-style: lower-latin;
  }



/***************** Partie Spécifique ************************/
.parent-display-ressources {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
  .display-ressources-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 !important;
    width: 100%;
    z-index: 1;
  }
    .display-ressources-list > a:hover {
      text-decoration: none;
    }
