.contentPresentation {
    display            : block;
    margin             : 100px 0;
    font-family        : "Roboto Light";
    font-size          : 20px;
}
.SecteurHome2 {
    display            : flex;
    flex-direction     : row;
    align-items        : center;
    justify-content    : space-evenly;
    margin-top         : 100px;
}
.SecteurHome3 {
    display            : flex;
    justify-content    : space-evenly;
    align-items        : center;
    margin-top         : 100px;
}
.BlocHome, .BlocHome1{
    display            : flex;
    align-items        : center;
    justify-content    : center;
}
.BlocHome3 {
    text-align         : center;
}
.colHome {
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    width              : 700px;
}
.colHome2 {
    display            : flex;
    flex-direction     : row;
    margin             : 100px 100px;
}
.colHome3 {
    display            : flex;
    flex-direction     : row;
}
.colonne {
    margin             : 0 70px;
    text-align         : center;
}
.pHome {
    text-align         : justify;
    width              : 90%;
}
.btnPresentation button{
    margin             : 50px;
}
.btnPresentation a {
    font-family        : 'Roboto';
    color              : #00B0F0;
    font-weight        : 900;
}
    .btnPresentation a:hover {
        color          : #E04980;
        text-decoration: none;
    }
.pHome1 {
    width              : 90%;
    text-align         : justify;
}
.pHome2 {
    text-align         : justify;
    width              : 700px;
}
.pHome3 {
    width              : 200px;
    text-align         : justify;
}
.Logo, .pHome1 {
    width              : 95%;
}
.imgBloc2 {
    width              : 200px;
}