.password.progress {
     height       : 10px;
     border-radius: 0 0 5px 5px;
}
#motDePasseSignIn {
     border-radius: 5px 5px 0 0;
}
.passwordLabel {
     display      : block;
     position     : absolute;
     right        : 0;
}